/* Small Screen */
@media screen and (max-width: 568px) and (min-width:302px) {
  .container {
    width: 100%;
  }
  header .container {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header .container nav ul ,
  header .container .request-invite {
    display: none;
  }
  header .container .menu-mobile {
    display: block;
  }
  .request-invite {
    font-size: 18px;
  }
  .landing {
    flex-direction: column-reverse;
  }
  .landing .intro-text ,
  .landing .mockups {
    width: 100%;
  }
    .landing .mockups lottie-player {
    width: 370px !important;
    position: absolute;
    top: -173px;
    left: -15px;
  }
  .landing .intro-text {
    margin-top: 0;
    position: relative;
    top: 0;
    text-align: center;
    padding: 20px;
    justify-content: center;
  }
  .landing .intro-text h1 {
    font-size: 35px;
  }
  .services .container ,
  .article .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .services .container .srv-box p {
    padding-right: 0; 
  }
  .container .title {
    grid-column: auto;
  }
  .container .title h1 {
    font-size: 32px;
  }
  .container .title p {
    width: 100%;
  }
  .services .container .srv-box {
    align-items: center;
    margin-bottom: 30px;
  }
  .services .container .srv-box img {
    width: 23%;
  }
  .article .container .title {
    padding-top: 35px;
    margin-bottom: 10px;
  }
  .article .container .card {
    margin: 10px;
  }
  .article .container .card .image-article {
    height: 220px;
  }
  .article .container .card .details {
    text-align: initial;
    padding: 25px
  }
  .article .container .card .details h5 {
    font-size: 16px;
  }
  .article .container .card .details p {
    font-size: 13px;
  }
  footer {
    height: auto;
    padding: 35px 0 20px 0;
  }
  footer .container {
    gap: 0;
    text-align: center;
  }
  footer .container article:first-child ul {
    justify-content: center;
  }
  footer .container article:last-child {
    align-items: center;
  }
}
/* Medium Screen */
@media screen and (max-width: 768px) and (min-width: 568px) {
  p {
    font-size: 12.5px !important;
  }
  a {
    font-size: 12px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .container {
    width: 90% !important;
  }
  .request-invite {
    padding: 8px 15px;
  }
  header .container {
    width: 100% !important;
  }
  .landing {
    height: 550px;
  }
  .landing .intro-text ,
  .landing .mockups {
    width: 50%;
  }
  .landing .mockups {
    background-position: 7% 54%;
  }
  .landing .mockups img {
    width: 120%;
    top: -60px;
    left: 5px;
  }
  .landing .intro-text h1 {
    font-size: 35px;
  }
  .landing .mockups lottie-player {
    width: 370px !important;
    position: absolute;
    top: -173px;
    right: -33px;
  }
  .services .container, .article .container {
    grid-template-columns: repeat(2,1fr);
  }
  .container .title {
    grid-column: span 2;
  }
  .article .container .card .image-article {
    height: 120px;
  }
  .article .container .card .details {
    padding: 15px 6px 15px 15px;
    height: 165px;
    overflow: hidden;
  }
  .article .container .card .details a ,
  footer .container article ul li a {
    font-size: 12px;
  }
  .article .container .card .details p {
    font-size: 11px !important;
  }
  footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0;
  }
  footer .container article h1 {
    font-size: 20px;
  }
  footer .container article img {
    width: 70%;
  }
  footer .container article:first-child ul li {
    margin-right: 5px
  }
  footer .container article p {
    font-size: 10px !important;
  }
}
/*--- Big Screen ----*/
@media screen and (max-width: 1920px) and (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}